* {
    margin:0;
    padding:0;
    font-family:cafe;
}

@font-face {
    font-family: "cafe";
    src:url(font/Inconsolata-Regular.ttf);
}

nav {
    background-color:black;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding-top:20px;
    padding-bottom:20px;
}

nav button {
    border:none;
    background-color:black;
    color:white;
    font-weight:bold;
    font-size:110%;
}

nav button:hover {
    text-shadow: 5px 7px 4px rgba(131, 131, 131, 1);
}

header {
    background-image:url(assets/coffeehouse.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center;
}

header h1 {
    text-align:center;
    margin-top:10%;
    color:white;
    font-size:350%;
}

.bottomheader {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-left:20px;
    margin-right:20px;
    margin-top:20%;
    color:white;
}

.bottomheader p:first-child {
    background-color: black;
    color:#ffffff;
    padding:5px;
    margin-bottom:5px;
}

#x:hover {
    text-shadow: 7px 10px 4px rgba(131, 131, 131, 1);
}
#y:hover {
    text-shadow: 7px 10px 4px rgba(131, 131, 131, 1);
}
#z:hover {
    text-shadow: 7px 10px 4px rgba(131, 131, 131, 1);
}

.about img {
    width: 70%;
}

.coffeehouse2 {
    width: 55%;
}

.about {
    margin-left:25%;
    margin-right:25%;
    margin-top:50px;
}

.about h2 {
    color:white;
    text-align:center;
    padding-top:15px;
    margin-bottom:20px;
}

.abouttitle {
    display:flex;
    flex-direction:row;
    background-color:black;
    justify-content: space-between;
    margin-left:30%;
    margin-right:30%;
    padding-left:70px;
    padding-right:20px;
    margin-bottom:20px;
}

.bigtexte {
    position:fixed;
    top:1px;
    backdrop-filter:blur(15px);
    height: 100%;
    width: 100%;
    margin:0;
    padding-left:10px;
    padding-top:50px;
    display:block;
}

.bigtexte .abouttitle {
    padding-right:50px;
}

.abouttitle button {
    display:none;
    border:none;
    background-color:black;
    font-size:150%;
    color:white;
    margin-bottom:5px;
}

.wheretitle {
    display:flex;
    flex-direction:row;
    background-color:black;
    justify-content: space-between;
    margin-left:20%;
    margin-right:20%;
    padding-left:40px;
    padding-right:30px;
    padding-bottom:10px;
    padding-top:10px;
    margin-bottom:20px;
    margin-top:20px;
}

.wheretitle button {
    display:none;
    border:none;
    background-color:black;
    font-size:150%;
    color:white;
}

.bigmenu {
    position:fixed;
    top:1px;
    backdrop-filter:blur(15px);
    height: 100%;
    width: 100%;
    margin:0;
    display:block;
    padding-top:50px;
}

.bigmenu .themenu {
    margin-right:10%;
    margin-left:10%;
}

.bigmenu h2 {
    color:white;
    text-align:center;
    padding-top:15px;
    margin-bottom:20px;
}

.bigmenu .menutitle {
    padding-right:50px;
    margin-left:30%;
}

.bigwhere {
    position:fixed;
    top:1px;
    backdrop-filter:blur(15px);
    height: 100%;
    width: 100%;
    margin:0;
    padding-left:10px;
    padding-top:50px;
    display:block;
}

.bigwhere h2 {
    color:white;
        background-color:black;
        padding-left:150px;
    }

.bigwhere button {
    margin-right:150px;
}

.bigwhere p {
    margin-bottom:20px;
}

.menutitle {
    display:flex;
    flex-direction:row;
    background-color:black;
    justify-content: space-between;
    margin-left:30%;
    margin-right:30%;
    padding-left:120px;
    padding-right:20px;
    margin-bottom:20px;
}

.menutitle button {
    display:none;
    border:none;
    background-color:black;
    font-size:150%;
    color:white;
    padding-bottom:5px;
}

.about i {
    padding-left:30px;
    border-left:solid rgb(97, 97, 97) 1px;
}

.about p {
    padding-right:50px;
    padding-left:50px;
}

.about p:nth-child(3) {
    margin-top:10px;
    margin-bottom:10px;
}

.about p:nth-child(5) {
    margin-top:20px;
    margin-bottom:20px;
}

.about p:nth-child(6) {
    margin-bottom:20px;
}

main {
    text-align:center;
}

.menu {
    margin-left:25%;
    margin-right:25%;
}

.menu h2 {
    color:white;
    text-align:center;
    padding-top:15px;
    margin-bottom:20px;
}

.bigmenu .btn {
    background-color:white;
    margin-left:50px;
    margin-right:50px;
    padding-bottom:10px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}

.btn {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    background-color:white;
}

.themenu button {
    border:none;
    margin-top:15px;
    font-weight: bold;
    font-size: 120%;
}

button:hover {
    cursor:pointer;
}

.themenu {
    box-shadow: 0px 0px 10px 1px #767676;
    margin-right:0px;
}

.insidemenu {
    margin:3%;
    padding-top:10px;
    padding-bottom:10px;
    box-shadow: 0px 0px 10px 1px #767676;
    background-color:white;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}

.menuitems {
    margin-top:30px;
    margin-left:20px;
    margin-bottom:30px;
    text-align:left;
}

.menuitems p {
    margin-top:15px;
}

.where h2 {
    color:white;
    background-color:black;
}

.where {
    margin-left:25%;
    margin-right:25%;
}

.where p {
    text-align:left;
    margin-top:50px;
    margin-bottom:50px;
}

.where img {
    width: 100%;
}

.bigwhere img {
    width: 80%;
    text-align:left;
    margin-bottom:25px;
}

.reserve {
    margin-left:20%;
    margin-right:30%;
}


.reserve p {
    margin-bottom:10px;
}

form {
    display:flex;
    flex-direction:column;
    margin-bottom:20px;
}

input {
    margin-bottom:10px; 
    padding:10px;
    border:solid grey 1px;
}

form button {
    background-color:black;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    font-size:120%;
    width: 30%;
    border:none;
}

.faq {
    background-color:black;
    color:white;
    margin-left:20%;
    margin-right:20%;
}

.faqrow {
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin-left:10%;
    margin-bottom:20px;

}

.faq button {
    margin-left:40px;
}

.faqp {
    display:none;
    margin-bottom:20px;
}